<header th:fragment="header">
  <style>
    .navbar {
      width: 500px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 16px;
      background-color: white;
      border-bottom: 1px solid #ddd;
      box-sizing: border-box;
      position: relative;
    }
    .side-menu {
      position: absolute;
      top: 0px; left: 550px;
      height: 1000px;
      width: 160px;
      background-color: white;
      text-decoration: none;

    }
  </style>
  <div class="navbar">
    <div class="menu-icon" id="menuIcon" onclick="toggleMenu(true)">&#9776;</div>
    <div class="logo"><span>BestBalance</span></div>
    <div class="icons">
      <span class="search-icon">&#128269;</span>
      <span class="profile-icon">&#128100;</span>
    </div>
  </div>
  <div class="side-menu" id="sideMenu">
    <div class="close-icon" onclick="toggleMenu(false)">&times;</div>
    <ul>
      <br><br>
      <li><a href="#">Start Game</a></li>
      <br>
      <li><a href="#">Bamboo</a></li>
      <br>
      <li><a href="#">회원가입</a></li>
      <br>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</header>